{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": {
      "node": "20"
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "baseUrl": "./src",
    "paths": {
      "~/*": ["*"]
    },
    "keepClassNames": true
  },
  "minify": true,
  "sourceMaps": false
}
